In [1]:
%load_ext sql

In [8]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

In [3]:
%%sql 
select * from shubham.orders
where order_status in ('COMPLETE') limit 10

10 rows affected.

[(3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (15, datetime.datetime(2013, 7, 25, 0, 0), 2568, 'COMPLETE'),
 (17, datetime.datetime(2013, 7, 25, 0, 0), 2667, 'COMPLETE'),
 (22, datetime.datetime(2013, 7, 25, 0, 0), 333, 'COMPLETE'),
 (26, datetime.datetime(2013, 7, 25, 0, 0), 7562, 'COMPLETE'),
 (28, datetime.datetime(2013, 7, 25, 0, 0), 656, 'COMPLETE'),
 (32, datetime.datetime(2013, 7, 25, 0, 0), 3960, 'COMPLETE')]

In [4]:
%%sql

select * from information_schema.columns
where table_catalog = 'shubham_sms_db' 
    and table_name = 'orders'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
4 rows affected.

[('shubham_sms_db', 'shubham', 'orders', 'order_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'orders', 'order_date', 2, None, 'NO', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'timestamp', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'orders', 'order_customer_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'orders', 'order_status', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [5]:
%%sql

select * from information_schema.columns
where table_catalog = 'shubham_sms_db' 
    and table_name = 'order_items'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
6 rows affected.

[('shubham_sms_db', 'shubham', 'order_items', 'order_item_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'order_items', 'order_item_order_id', 2, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'order_items', 'order_item_product_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'order_items', 'order_item_quantity', 4, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'int4', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'order_items', 'order_item_subtotal', 5, None, 'NO', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'float8', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'order_items', 'order_item_product_price', 6, None, 'NO', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'float8', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [6]:
%%sql

select * from information_schema.columns
where table_catalog = 'shubham_sms_db' 
    and table_name = 'products'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
6 rows affected.

[('shubham_sms_db', 'shubham', 'products', 'product_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'products', 'product_category_id', 2, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'products', 'product_price', 5, None, 'NO', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'float8', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'products', 'product_name', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'products', 'product_description', 4, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'products', 'product_image', 6, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [19]:
%%sql 

    select o.order_date,
           oi.order_item_product_id,
           p.product_name,
            round(sum (oi.order_item_subtotal:: numeric), 2) as Daily_Revenue
    from shubham.orders as o
        Inner join shubham.order_items as oi
            on o.order_id = oi.order_item_order_id
        Inner join shubham.products as p
            on  p.product_id = oi.order_item_product_id
    where o.order_status in ('COMPLETE', 'CLOSED')
    group by o.order_date, oi.order_item_product_id, p.product_name
        limit 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 24, 'Elevation Training Mask 2.0', Decimal('319.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 93, "Under Armour Men's Tech II T-Shirt", Decimal('74.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, "Nike Women's Legend V-Neck T-Shirt", Decimal('100.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, "TYR Boys' Team Digi Jammer", Decimal('119.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, "Nike Men's Kobe IX Elite Low Basketball Shoe", Decimal('199.99'))]

- sort the data

In [20]:
  %%sql 

    select o.order_date,
           oi.order_item_product_id,
           p.product_name,
            round(sum (oi.order_item_subtotal:: numeric), 2) as Daily_Revenue
    from shubham.orders as o
        Inner join shubham.order_items as oi
            on o.order_id = oi.order_item_order_id
        Inner join shubham.products as p
            on  p.product_id = oi.order_item_product_id
    where o.order_status in ('COMPLETE', 'CLOSED')
    group by o.order_date, oi.order_item_product_id, p.product_name
    order by o.order_date, daily_revenue DESC
        limit 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'))]

In [23]:
  %%sql 
select count(*) from (
    select o.order_date,
           oi.order_item_product_id,
           p.product_name,
            round(sum (oi.order_item_subtotal:: numeric), 2) as Daily_Revenue
    from shubham.orders as o
        Inner join shubham.order_items as oi
            on o.order_id = oi.order_item_order_id
        Inner join shubham.products as p
            on  p.product_id = oi.order_item_product_id
    where o.order_status in ('COMPLETE', 'CLOSED')
    group by o.order_date, oi.order_item_product_id, p.product_name) as nq;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(9120,)]